page-inbox {
    .message-icon {
        font-size: 2.5em;
        color: #999;
        padding: 0 5px;
    }
    .icon-sent {
        border: 1px solid #ccc;
        background: #eee;
        border-radius: 47px;
    }
    ion-note {
        margin: 0;
        font-size: 1.2rem;
    }
}